<div class="row">
  <span class="ft-label col-xs-4">Cost of Multiplier: {{body.costOfMultiplier | number:2}}</span>
  <span class="ft-label col-xs-4"></span>
  <span class="ft-label col-xs-4">
    Cost of Auto Clicker: {{body.costOfAutoClicker | number:2}}<p>
    Total Auto Clickers: {{body.autoClickerTotal}}
  </span>
</div>
<div class="row">
  <button
      class="ft-btn col-xs-4"
      ng-click="body.multiply()"
      ng-disabled="body.multiplierCostCheck()">
    <h2>+{{body.multiplier | number:2}}</h2>
  </button>
  <button
      class="ft-btn col-xs-4"
      ng-click="body.click()">
    <h2>+{{body.amount | number:2}}</h2>
  </button>
  <button
      class="ft-btn col-xs-4"
      ng-click="body.autoclick()"
      ng-disabled="body.autoClickCostCheck()">
    <h2>+1</h2>
  </button>
</div>
<div class="row">
  <button
      class="ft-btn col-xs-12"
      ng-click="body.reset()">
    <h2>Reset</h2>
  </button>
</div>
